.btnUp {
    display: block;
    width: 61px;
    height: 50px;
    position: absolute;
    bottom: calc(8vh + 100px);
    right: 7vw;
    margin-right: -60px;
    transform: scale(0.8);
    z-index: 3;
    transition-property: bottom, right;
    transition-duration: 0.5s;

    &::before,
    &::after {
        content: '';
        display: block;
        width: 1px;
        height: 20px;
        background-color: #333;
        position: absolute;
        top: 0;
        left: 50%;
        transform-origin: center top;
        transition: 0.5s 0.2s;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }

    span {
        display: block;
        width: 1px;
        height: 40px;
        background-color: #333;
        position: absolute;
        left: 50%;
        top: 0;
        transition: 0.5s;
    }

    em {
        color: #111;
        font: 12px/1 "arial";
        text-align: center;
        letter-spacing: 2px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.5s;
        opacity: 0;
    }

    &:hover {
        &::before {
            transform: rotate(45deg) translateY(-40px);
            opacity: 0;
        }

        &::after {
            transform: rotate(-45deg) translateY(-40px);
            opacity: 0;
        }

        span {
            transform: translateY(-40px);
            opacity: 0;
        }

        em {
            top: 50%;
            opacity: 1;
        }
    }
}

.btnDown {
    display: block;
    width: 61px;
    height: 50px;
    position: absolute;
    bottom: calc(8vh);
    right: 7vw;
    margin-right: -60px;
    transform: scale(0.8);
    z-index: 3;
    transition-property: bottom, right;
    transition-duration: 0.5s;

    &::before,
    &::after {
        content: '';
        display: block;
        width: 1px;
        height: 20px;
        background-color: #333;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform-origin: center bottom;
        transition: 0.5s 0.2s;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }

    span {
        display: block;
        width: 1px;
        height: 40px;
        background-color: #333;
        position: absolute;
        left: 50%;
        bottom: 0;
        transition: 0.5s;
    }

    em {
        color: #111;
        font: 12px/1 "arial";
        text-align: center;
        letter-spacing: 2px;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s;
        opacity: 0;
    }

    &:hover {
        &::before {
            transform: rotate(45deg) translateY(40px);
            opacity: 0;
        }

        &::after {
            transform: rotate(-45deg) translateY(40px);
            opacity: 0;
        }

        span {
            transform: translateY(40px);
            opacity: 0;
        }

        em {
            bottom: 50%;
            opacity: 1;
        }
    }
}